html, body {
  font-size: 20px;
}

.container {
  margin: 0 auto;
}
/**
 * fullscreen background color is black
 * thanks to https://stackoverflow.com/questions/16163089/background-element-goes-black-when-entering-fullscreen-with-html5 
 */
.container::backdrop,
.container:fullscreen { 
  background-color: white;
}
/* enable vertical scroll when fullscreen */
.container:fullscreen {
  overflow-y: auto;
}

.container a,
.container a:link,
.container a:hover,
.container a:visited,
.container a:active {
  color: #343a40;
  text-decoration: none;
}

.header {
  margin: 1.875rem 0.5rem;
}
.main { margin: 0 0.5rem; }

/* people list */
.people-list {
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 0;

  .person {
    container-type: inline-size; /* rende .person riferimento per container query */
    list-style: none;
    margin: 0.25rem;
  
    input { display: none }
    input:checked + label { background: rgb(111, 125, 207) }

    label {
      text-align: left;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }

    @container (min-width: 450px) {
      label {
        min-width: 70%;
      }
    }
    @container (max-width: 450px) {
      label {
        min-width: 85%;
      }
    }
    @container (max-width: 400px) {
      label {
        min-width: 95%;
      }
    }
    @container (max-width: 300px) {
      label {
        min-width: 100%;
      }
    }

    input + label::after { 
      content: "Non presente";
      display: block;
      font-size: 0.50rem;
      text-align: left;
    }
    input:checked + label::after { 
      content: "Presente";
      display: block;
      font-size: 0.50rem;
      text-align: left;
    }
    input + label::before {
      content: "\002717";
      /* dimensioni per evitare sballonzolamenti: V è più alta di X, X è più larga di V */
      display: inline-block; line-height: 1.5em; min-width: 1em;
      font-size: 1.5rem;
      margin-right: .5em;
    }
    input:checked + label::before { 
      content: "\002713";
      /* dimensioni per evitare sballonzolamenti: V è più alta di X, X è più larga di V */
      display: inline-block; line-height: 1.5em; min-width: 1em;
      font-size: 1.5rem;
      margin-right: .5em;
    }
  }
}

/* people list: split list on columns when screen is wide enough */
/* thanks to https://medium.com/free-code-camp/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 */
/* breakpoint for-tablet-portrait-up */
@media (min-width: 600px) {
  .people-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* breakpoint for-tablet-landscape-up */
@media (min-width: 900px) {
  .people-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* breakpoint for-big-desktop-up */
@media (min-width: 1800px) {
  .people-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* dialog */
dialog {
  border: 1px solid #343a40;
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
dialog::backdrop {
  background-color: grey;
  opacity: 0.75;
}