html, body {
  font-size: 20px;
}

.container {
  margin: 0 auto;
}

.container a,
.container a:link,
.container a:hover,
.container a:visited,
.container a:active {
  color: #343a40;
  text-decoration: none;
}

.header {
  margin: 1.875rem 0.5rem;
}
.main { margin: 0 0.5rem; }

/* people list */
.people-list {
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 0;

  .person {
    list-style: none;
    margin: 0.25rem;
  
    input { display: none }
    input:checked + label { background: rgb(111, 125, 207) }

    label {
      min-width: 60%;
      text-align: left;
    }

    input + label::after { 
      content: "Non presente";
      display: block;
      font-size: 0.50rem;
      text-align: left;
    }
    input:checked + label::after { 
      content: "Presente";
      display: block;
      font-size: 0.50rem;
      text-align: left;
    }
    input + label::before {
      content: "\002612";
      font-size: 1.5rem;
      margin-right: .5em;
      vertical-align: -5%;
    }
    input:checked + label::before { 
      content: "\002611";
      font-size: 1.5rem;
      margin-right: .5em;
      vertical-align: -5%;
    }
  }
}

/* people list: split list on columns when screen is wide enough */
/* thanks to https://medium.com/free-code-camp/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862 */
/* breakpoint for-tablet-portrait-up */
@media (min-width: 600px) {
  .people-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}
/* breakpoint for-tablet-landscape-up */
@media (min-width: 900px) {
  .people-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
}
/* breakpoint for-big-desktop-up */
@media (min-width: 1800px) {
  .people-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}